PORT=3000


DATABASE_URL=<Database_string>
DATABASE_NAME=social_media


ACCESS_TOKEN_SECRET_KEY=YFF&%*&^*4624*!:><<|+HVF857564%^$^&$*&^fykFHFKYFYFUYFUyseryarsjdkf
ACCESS_TOKEN_EXPIRY=1d


REFRESH_TOKEN_SECRET_KEY=%&*%%%HVJtyfhkcYTDG^$&%*&^*732345GVCFGB*&*&*_+!@5675></./.GHFJVC5467&^%%I*
REFRESH_TOKEN_EXPIRY=10d


VERIFICATION_TOKEN_SECRET_KEY=jcugvg424g2jf4hvh@@!$@%^&*:><,.?/VTYFtytdFF12346DTJD87654Fkhjfgj
VERIFICATION_TOKEN_EXPIRY=24h

DOMAIN=http://localhost:3000/api/v1


FRONTEND_DOMAIN=https://social-media-bmt3.vercel.app/




CLOUDINARY_NAME = <CLOUDINARY_NAME>
CLOUDINARY_API_KEY = <CLOUDINARY_API_KEY>
CLOUDINARY_API_SECRET = <CLOUDINARY_API_SECRET>


RESEND_API_KEY=<RESEND_API_KEY>